.background {
  background-image: url('./img/cat-1.jpg');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.login-page {
  position: fixed;
  top: 70%;
  width: 100%;
  text-align: center;
}
.email-input {
  margin: 10px;
}
.password-input {
  margin: 10px;
}
.login-signup-btn {
  margin: 10px;
}
.forget-password {
  margin: 10px;
  font-size: 0.8rem;
}
a {
  text-decoration: none;
  color: palevioletred;
}
.login-btn {
  margin: 5px;
}
.signup-btn {
  margin: 5px;
}
